{% extends 'layout.html' %}
{% block body %}
<!-- Main content -->
<section class="content">
	<div class="row">
	  <!-- left column -->
	  <div class="col-md-12">
		<!-- general form elements -->
		<div class="box box-primary">
		  <div class="box-header with-border">
			<h3 class="box-title">Input Data Buku</h3>
		  </div>
		  <!-- /.box-header -->
		  <!-- form start -->
		  <form form action="{{ url_for('predict')}}" method="POST">
			<div class="box-body">
			  <div class="form-group">
				<label for="judul buku">Judul Buku</label>
				<textarea type="text" class="form-control" name='judul' id="judul buku" placeholder="Masukan Judul Buku"></textarea>
			  </div>
			  <div class="form-group">
				<label for="Penerbit">Penerbit</label>
				<input type="text" class="form-control" name='penerbit' id="Penerbit" placeholder="Masukan Nama Penerbit">
			  </div>
			  <div class="form-group">
				<label for="Tahun Terbit">Tahun Terbit</label>
				<input type="number" class="form-control" name='th_terbit' id="Tahun Terbit" placeholder="Masukan Tahun Terbit">
			  </div>
			  <div class="form-group">
				<label for="Tempat Terbit">Tempat Terbit</label>
				<input type="text" class="form-control" name='t_terbit' id="Tempat Terbit" placeholder="Masukan Tempat Terbit">
			  </div>
			  <div class="form-group">
				<label for="Pengarang">Pengarang</label>
				<input type="text" class="form-control" name='pengarang' id="Pengarang" placeholder="Masukan Nama Pengarang">
			  </div>
			  <div class="form-group">
				<label>Kategori Buku</label>
				<input class="form-control" rows="3" disabled>
			  </div>
			</div>
			<!-- /.box-body -->
			<div class="box-footer">
			  <button type="submit" class="btn btn-primary" value='predict'>Submit</button>
			</div>
		  </form>
		</div>
	</div>
	{% endblock body %}
</html>