{% extends 'layout.html' %}
{% block page_title %}
    {{ 'User'}}
{% endblock %}
{% block breadcrumb %}
    <ol class="breadcrumb">
        <li><a href="{{ url_for('homepage') }}"><i class="fa fa-dashboard"></i> Home</a></li>
        <li class="active" aria-current="page">{{'Model'}}</li>
    </ol>
{% endblock %}
{% set active_page = "model" %}
<!-- DataTables -->
<link rel="stylesheet" href="{{url_for('static', filename='dataTables.bootstrap.css')}}">
{% block body %}
<section class="content">
    {% with messages = get_flashed_messages() %}
    {% if messages %}
      <div class="alert alert-success alert-dismissible">
        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">x</button>
            <i class="icon fa fa-check"></i>
            {{ messages[0] }}
      </div>
    {% endif %}
    {% endwith %}
    <div class="row">
      <div class="col-xs-12">
          <button type="button" class="btn btn-success" data-toggle="modal" data-target="#importCsvModal">
            <span class="glyphicon glyphicon-open" aria-hidden="true"></span> Import CSV
            </button>
        <div class="box">
          <div class="box-header">
            <h3 class="box-title">Data Model</h3>
          </div>
          <!-- /.box-header -->
          <div class="box-body table-responsive">
            <table id="example2" class="table table-bordered table-hover">
                <thead>
                    <tr>
                        <th>No</th>
                        <th>Judul</th>
                        <th>Penerbit</th>
                        <th>Tahun Terbit</th>
                        <th>Tempat Terbit</th>
                        <th>Pengarang</th>
                        <th>Kategori Buku</th>
                    </tr>
                </thead>
                <tbody>
                    {% for raw in predict %}
                    <tr>
                        <td>{{ loop.index }}</td>
                        <td>{{ raw.judul }}</td>
                        <td>{{ raw.penerbit }}</td>
                        <td>{{ raw.tahun_terbit }}</td>
                        <td>{{ raw.tempat_terbit }}</td>
                        <td>{{ raw.pengarang }}</td>
                        <td>{{ raw.kategori_buku }}</td>
                    </tr>
                </tbody>
                {% endfor %}
            </table>
        </div>
        <!-- /.box-body -->
    </div>
    <!-- /.box -->
</div>
<!-- /.col -->
</div>
<!-- modal import csv file --> 
<div class="modal fade" id="importCsvModal" tabindex="-1" role="dialog" aria-labelledby="importCsvModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="importCsvModalLabel">Import CSV</h4>
            </div>
            <div class="modal-body">
                <form action="{{url_for('hasil')}}" method="post" enctype="multipart/form-data">
                    <div class="form-group">
                        <label for="csv_file">File CSV</label>
                        <input type="file" name="file_csv" class="form-control">
                    </div>
                    <div class="form-group">
                        <button type="submit" class="btn btn-primary">Import</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock body %}